<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.together_park">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".Posting_join"></activity>
        <activity android:name=".Final_posting" />
        <activity android:name=".Posting_masterActivity" />
        <activity android:name=".PostingActivity" /> <!-- <uses-permission android:name="android.permission.CALL_PHONE"/> -->
        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="sk63laklk9" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>